/* --- サイドバーレイアウト --- */
.page-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

/* サイドバー本体 */
.sidebar {
    flex: 0 0 250px; /* 幅を250pxに固定 */
    padding: 20px;
}

.sidebar h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.side-menu {
    list-style: none;
}

.side-menu li {
    border-bottom: 1px solid #eee;
}

.side-menu a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    color: #666;
    transition: 0.3s;
}

.side-menu a:hover,
.side-menu a.active {
    background-color: #f9f9f9;
    color: #333;
    font-weight: bold;
    border-left: 4px solid #333;
}

/* 会社概要テーブル */
.company-table {
    width: 100%;
    border-collapse: collapse;
}

.company-table th, .company-table td {
    padding: 15px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

.company-table th {
    width: 30%;
    background-color: #fbfbfb;
    color: #888;
    font-size: 0.9rem;
}


/* --- ハンバーガーボタンのデザイン --- */
.menu-trigger {
    /*display: none; /* 基本は隠す（PC） */
    position: absolute;
    right: 20px;
    width: 30px;
    height: 24px;
    cursor: pointer;
}

.menu-trigger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #333;
    transition: all .4s;
}

.menu-trigger span:nth-child(1) { top: 0; }
.menu-trigger span:nth-child(2) { top: 11px; }
.menu-trigger span:nth-child(3) { bottom: 0; }

/* ボタンがアクティブな時（三本線が×になる） */
.menu-trigger.active span:nth-child(1) { transform: translateY(11px) rotate(-45deg); }
.menu-trigger.active span:nth-child(2) { opacity: 0; }
.menu-trigger.active span:nth-child(3) { transform: translateY(-11px) rotate(45deg); }
