

/* ヘッダー */
header { 
    padding: 5px 0; 
    border-bottom: 1px solid #eee; 
    position: sticky; 
    top: 0; 
    background: rgb(255, 255, 255); 
    z-index: 6; 
}

header h1 { 
    font-size: 2rem;
    letter-spacing: 2px;
    text-align: center;
}

/* --- ヘッダー内のレイアウト調整 --- */
.headerContents {
    display: flex;
    justify-content: center; /* PCは中央 */
    align-items: center;
    position: relative;
}


